<a href="https://colab.research.google.com/github/gjm112/DSCI401/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
import numpy as np
import pandas as pd


#Series
data = pd.Series([0.25, 0.5, 0.75, 1])

data

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [ ]:
data.values

array([0.25, 0.5 , 0.75, 1.  ])

In [ ]:
data.index

RangeIndex(start=0, stop=4, step=1)

In [ ]:
print(data[1])
print(data[1:3])

0.5
1    0.50
2    0.75
dtype: float64

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1], index = ['a','b','c','d'])
print(data[1])
print(data['b'])


data = pd.Series([0.25, 0.5, 0.75, 1], index = ['b','a','c','d'])
print(data[1])
print(data['b'])

0.5
0.5
0.5
0.25

In [ ]:
#Indices don't need to be contiguous elements
data = pd.Series([0.25, 0.5, 0.75, 1], index = [2,3,-6,7])
print(data)
print(data[-6])

#I can repeat indices!  Did you know this????  I did....
data = pd.Series([0.25, 0.5, 0.75, 1], index = [2,5,5,'a'])
print(data[5])

 2    0.25
 3    0.50
-6    0.75
 7    1.00
dtype: float64
0.75

In [ ]:
ac_dict = {'Chicago':312,'Houston':713,'Dallas':214, 'NYC':212,'Altanta':404}
area_codes = pd.Series(ac_dict)

area_codes
print(area_codes.index)

Index(['Chicago', 'Houston', 'Dallas', 'NYC', 'Altanta'], dtype='object')

5    0.50
5    0.75
dtype: float64

In [ ]:
print(area_codes[0])
print(area_codes['Chicago'])
print(area_codes['Chicago':'Dallas'])

312
312
Chicago    312
Houston    713
Dallas     214
dtype: int64

In [ ]:
#Constructing series 
pd.Series([2,4,6])

0    2
1    4
2    6
dtype: int64

In [ ]:
#Data can be scalar
pd.Series(5, index = [100,200,300])

100    5
200    5
300    5
dtype: int64

In [ ]:
#or a dictionary
pd.Series({2:'a',1:'b',3:'c'})

2    a
1    b
3    c
dtype: object

In [ ]:
#can specify index explicitly
pd.Series({2:'a',1:'b',3:'c'}, index = [3,2])

3    c
2    a
dtype: object

In [ ]:
pd.Series({2:'a',1:'b',3:'c'}, index = [1,2,2,2,2])

1    b
2    a
2    a
2    a
2    a
dtype: object

# Data Frames

In [ ]:
area_dict = {'California':423967, "Texas":695662, 'New York':141297, 'Florida':170312,'Illinois':149995}
area = pd.Series(area_dict)
print(area)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [ ]:
population_dict = {'California':38332521, "Texas":26448193, 'New York':19651127, 'Florida':19552860,'Illinois':12882135}
population = pd.Series(population_dict)
states = pd.DataFrame({'population':population, 'area':area})
print(states)

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [ ]:
states.index

Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

In [ ]:
states.columns

Index(['population', 'area'], dtype='object')

In [ ]:
states['population']

California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64

In [ ]:
states.population.drop

<bound method Series.drop of California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135
Name: population, dtype: int64>

In [ ]:
data = [{'a':i,'b':2+1} for i in range(3)]
pd.DataFrame(data)

   a  b
0  0  3
1  1  3
2  2  3

In [ ]:
pd.DataFrame([{'a':1,'b':2},{'b':3,'c':4}])

     a  b    c
0  1.0  2  NaN
1  NaN  3  4.0

In [ ]:
pd.DataFrame(np.random.rand(3,2),columns = ['foo','bar'], index = ['a','b','c'])

        foo       bar
a  0.777128  0.184252
b  0.108624  0.529360
c  0.958683  0.017156

In [ ]:
A = np.zeros(3, dtype = [('A','i8'),('B',"f8")])
print(A)

print(pd.DataFrame(A))

[(0, 0.) (0, 0.) (0, 0.)]
   A    B
0  0  0.0
1  0  0.0
2  0  0.0

## Index

In [ ]:
ind = pd.Index([2,3,5,7,11])
print(ind)
print(ind[1])
print(ind[::2])

Int64Index([2, 3, 5, 7, 11], dtype='int64')
3
Int64Index([2, 5, 11], dtype='int64')

In [ ]:
print(ind.size)
print(ind.shape)
print(ind.ndim)
print(ind.dtype)

5
(5,)
1
int64

In [1]:
print(ind)
#can't be modified
ind[1] = 0

NameError: ignored

In [ ]:
indA = pd.Index([1,3,4,5,9])
indB = pd.Index([2,3,5,7,11])
print(indA & indB) #and
print(indA | indB) #or
print(indA ^ indB) #exclusive or

Int64Index([3, 5], dtype='int64')
Int64Index([1, 2, 3, 4, 5, 7, 9, 11], dtype='int64')
Int64Index([1, 2, 4, 7, 9, 11], dtype='int64')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Index.__and__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__and__.  Use index.intersection(other) instead
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Index.__or__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__or__.  Use index.union(other) instead
  after removing the cwd from sys.path.
/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: FutureWarning: Index.__xor__ operating as a set operation is deprecated, in the future this will be a logical operation matching Series.__xor__.  Use index.symmetric_difference(other) instead
  """

# Data Indedxing and Selection

In [ ]:
data = pd.Series([0.25, 0.5, 0.75, 1], index = ['a','b','c','d'])
print('a' in data)
print(data.keys())
list(data.items())

True
Index(['a', 'b', 'c', 'd'], dtype='object')
d    0.25
c    0.50
b    0.75
a    1.00
e    5.00
dtype: float64

In [ ]:
#Extend a series
data['e'] = 1.25
data

a    0.25
b    0.50
c    0.75
d    1.00
e    1.25
dtype: float64

In [4]:
grace = pd.Series([0.25, 0.5, 0.75, 1], index = ['d','c','b','a'])
print(grace)
grace['e'] = 5
grace2 = pd.Series([1.25,grace.values()], index = ['e','d','c','b','a'])

d    0.25
c    0.50
b    0.75
a    1.00
dtype: float64

TypeError: ignored

In [ ]:
#Slicing by explicit index
data['a':'c']

a    0.25
b    0.50
c    0.75
dtype: float64

In [ ]:
#Slicing by explicit integer index
data[0:2]

In [ ]:
#Slicing by masking
data[(data>0.3) & (data < 0.8)]

b    0.50
c    0.75
dtype: float64

In [ ]:
#slicing by fancy indexing
data[['a','e']]

a    0.25
e    1.25
dtype: float64

#Indexers: loc and iloc

In [ ]:
data = pd.Series(['a','b','c'], index = [1,3,5])
print(data.loc[1])
print(data.loc[1:3])

a
1    a
3    b
dtype: object

In [ ]:
print(data.iloc[1])
print(data.iloc[1:3])

b
3    b
5    c
dtype: object

In [ ]:
#Data Selection in a dataframe.
area_dict = {'California':423967, "Texas":695662, 'New York':141297, 'Florida':170312,'Illinois':149995}
area = pd.Series(area_dict)
print(area)
population_dict = {'California':38332521, "Texas":26448193, 'New York':19651127, 'Florida':19552860,'Illinois':12882135}
population = pd.Series(population_dict)
states = pd.DataFrame({'population':population, 'area':area})
print(states)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64
            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995

In [ ]:
#dictionary style
states['area']

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

In [ ]:
#attribute style
states.area

#Careful to not name a variables the same as a method!

array([[38332521,   423967],
       [26448193,   695662],
       [19651127,   141297],
       [19552860,   170312],
       [12882135,   149995]])

In [ ]:
#Adding a column
states['density'] = states['population']/states['area']
states

NameError: ignored

In [ ]:
#Dataframe as a 2D array
states.values

array([[3.83325210e+07, 4.23967000e+05, 9.04139261e+01],
       [2.64481930e+07, 6.95662000e+05, 3.80187404e+01],
       [1.96511270e+07, 1.41297000e+05, 1.39076746e+02],
       [1.95528600e+07, 1.70312000e+05, 1.14806121e+02],
       [1.28821350e+07, 1.49995000e+05, 8.58837628e+01]])

In [ ]:
#So we can traspose
states.T

,California,Texas,New York,Florida,Illinois
population,3.833252e+07,2.644819e+07,1.965113e+07,1.955286e+07,1.288214e+07
area,4.239670e+05,6.956620e+05,1.412970e+05,1.703120e+05,1.499950e+05
density,9.041393e+01,3.801874e+01,1.390767e+02,1.148061e+02,8.588376e+01

In [ ]:
#Loc and iloc
states.loc[:'Illinois',:'population']

            population
California    38332521
Texas         26448193
New York      19651127
Florida       19552860
Illinois      12882135

In [ ]:
states.iloc[:3,:2]

            population    area
California    38332521  423967
Texas         26448193  695662
New York      19651127  141297

In [ ]:
#Indexing
states.loc[states.density > 100, ['population','density']]

          population     density
New York    19651127  139.076746
Florida     19552860  114.806121

In [ ]:
pd.DataFrame(states.data, index = {'a','b'})

AttributeError: ignored

In [ ]:
#Pandas Notes 2
import pandas as pd
index = [('CA',2000),('CA',2010),('NY',2000),('NY',2010),('TX',2000),('TX',2010)]

population = [33871648, 37253956, 18976457, 19378102, 20851820, 25145561]

pop = pd.Series(population, index = index)
print(pop)

(CA, 2000)    33871648
(CA, 2010)    37253956
(NY, 2000)    18976457
(NY, 2010)    19378102
(TX, 2000)    20851820
(TX, 2010)    25145561
dtype: int64

In [ ]:
index = pd.MultiIndex.from_tuples(index)
index

MultiIndex([('CA', 2000),
            ('CA', 2010),
            ('NY', 2000),
            ('NY', 2010),
            ('TX', 2000),
            ('TX', 2010)],
           )

In [ ]:
pop = pop.reindex(index)
pop

CA  2000    33871648
    2010    37253956
NY  2000    18976457
    2010    19378102
TX  2000    20851820
    2010    25145561
dtype: int64

In [ ]:
pop_df = pop.unstack()
print(pop_df)

        2000      2010
CA  33871648  37253956
NY  18976457  19378102
TX  20851820  25145561

In [ ]:
print(pop_df.stack())

CA  2000    33871648
    2010    37253956
NY  2000    18976457
    2010    19378102
TX  2000    20851820
    2010    25145561
dtype: int64

In [ ]:
#Question from Shrdha
print(pop)
print(pop.unstack())
print(pop.unstack().unstack())
print(pop.unstack().unstack().unstack())
print(pop.unstack().unstack().unstack().unstack())
print(pop.unstack().unstack().unstack().unstack().unstack())

CA  2000    33871648
    2010    37253956
NY  2000    18976457
    2010    19378102
TX  2000    20851820
    2010    25145561
dtype: int64
        2000      2010
CA  33871648  37253956
NY  18976457  19378102
TX  20851820  25145561
2000  CA    33871648
      NY    18976457
      TX    20851820
2010  CA    37253956
      NY    19378102
      TX    25145561
dtype: int64
            CA        NY        TX
2000  33871648  18976457  20851820
2010  37253956  19378102  25145561
CA  2000    33871648
    2010    37253956
NY  2000    18976457
    2010    19378102
TX  2000    20851820
    2010    25145561
dtype: int64
        2000      2010
CA  33871648  37253956
NY  18976457  19378102
TX  20851820  25145561

In [ ]:
#Question from Shrdha
print(pop)
print(pop.stack())
print(pop.stack().stack())
print(pop.stack().stack().stack())
print(pop.stack().stack().stack().stack())

CA  2000    33871648
    2010    37253956
NY  2000    18976457
    2010    19378102
TX  2000    20851820
    2010    25145561
dtype: int64

AttributeError: ignored

In [ ]:
print(pop_df.stack())

CA  2000    33871648
    2010    37253956
NY  2000    18976457
    2010    19378102
TX  2000    20851820
    2010    25145561
dtype: int64

In [ ]:
pop_df = pd.DataFrame({'total':pop, 'under18': [9267089,9284094,4687374,4318033,5906301,6879014]})
pop_df

            total  under18
CA 2000  33871648  9267089
   2010  37253956  9284094
NY 2000  18976457  4687374
   2010  19378102  4318033
TX 2000  20851820  5906301
   2010  25145561  6879014

In [ ]:
f_u18 = pop_df['under18']/pop_df['total']
print(f_u18)

CA  2000    0.273594
    2010    0.249211
NY  2000    0.247010
    2010    0.222831
TX  2000    0.283251
    2010    0.273568
dtype: float64

In [ ]:
f_u18.unstack()

        2000      2010
CA  0.273594  0.249211
NY  0.247010  0.222831
TX  0.283251  0.273568

In [ ]:
import numpy as np
df = pd.DataFrame(np.random.rand(4,2),index = [['a','a','b','b'],[1,2,1,2]], columns = ['data1','data2'])
df

        data1     data2
a 1  0.978532  0.088034
  2  0.920064  0.763876
b 1  0.412226  0.621740
  2  0.158982  0.861018

In [ ]:
df.unstack()

      data1               data2
          1         2         1         2
a  0.978532  0.920064  0.088034  0.763876
b  0.412226  0.158982  0.621740  0.861018

In [ ]:
df.unstack().stack()

        data1     data2
a 1  0.978532  0.088034
  2  0.920064  0.763876
b 1  0.412226  0.621740
  2  0.158982  0.861018

In [ ]:
df = pd.DataFrame(np.random.rand(4,2),index = [['a','a','b','b'],[1,2,1,2]], columns = ['data1','data2'])
df.unstack().unstack()

data1  1  a    0.272030
          b    0.854893
       2  a    0.285430
          b    0.414816
data2  1  a    0.698281
          b    0.318986
       2  a    0.509526
          b    0.237007
dtype: float64

In [ ]:
pd.MultiIndex(levels = [['a','b'],[1,2]], codes = [[0,0,1,1],[0,1,0,1]])

MultiIndex([('a', 1),
            ('a', 2),
            ('b', 1),
            ('b', 2)],
           )

In [ ]:
pop.index.names = ['state','year']
pop

state  year
CA     2000    33871648
       2010    37253956
NY     2000    18976457
       2010    19378102
TX     2000    20851820
       2010    25145561
dtype: int64

In [ ]:
index = pd.MultiIndex.from_product([[2013,2014],[1,2]], names = ['year','visit'])
index

MultiIndex([(2013, 1),
            (2013, 2),
            (2014, 1),
            (2014, 2)],
           names=['year', 'visit'])

In [ ]:
columns = pd.MultiIndex.from_product([['Bob','Guido','Sue'],['HR','Temp']], names = ['subject','type'])
columns

MultiIndex([(  'Bob',   'HR'),
            (  'Bob', 'Temp'),
            ('Guido',   'HR'),
            ('Guido', 'Temp'),
            (  'Sue',   'HR'),
            (  'Sue', 'Temp')],
           names=['subject', 'type'])

In [ ]:
import numpy as np
import pandas as pd
data = np.array([[47, 36.7, 47, 38, 47, 36.4],
                [47, 35.5, 47, 37.3, 47, 38.6],
                [47, 35.7, 47, 38.5, 47, 38],
                [47, 38.4, 47, 36.1, 47, 39.5]])

data

array([[47. , 36.7, 47. , 38. , 47. , 36.4],
       [47. , 35.5, 47. , 37.3, 47. , 38.6],
       [47. , 35.7, 47. , 38.5, 47. , 38. ],
       [47. , 38.4, 47. , 36.1, 47. , 39.5]])

In [ ]:
health_data = pd.DataFrame(data, index = index, columns = columns)
health_data

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      47.0  36.7  47.0  38.0  47.0  36.4
     2      47.0  35.5  47.0  37.3  47.0  38.6
2014 1      47.0  35.7  47.0  38.5  47.0  38.0
     2      47.0  38.4  47.0  36.1  47.0  39.5

In [ ]:
health_data.unstack()

subject   Bob                   Guido                     Sue              \
type       HR        Temp          HR        Temp          HR        Temp
visit       1     2     1     2     1     2     1     2     1     2     1
year
2013     47.0  47.0  36.7  35.5  47.0  47.0  38.0  37.3  47.0  47.0  36.4
2014     47.0  47.0  35.7  38.4  47.0  47.0  38.5  36.1  47.0  47.0  38.0

subject
type
visit       2
year
2013     38.6
2014     39.5

In [ ]:
health_data.unstack().unstack()

subject  type  visit  year
Bob      HR    1      2013    47.0
                      2014    47.0
               2      2013    47.0
                      2014    47.0
         Temp  1      2013    36.7
                      2014    35.7
               2      2013    35.5
                      2014    38.4
Guido    HR    1      2013    47.0
                      2014    47.0
               2      2013    47.0
                      2014    47.0
         Temp  1      2013    38.0
                      2014    38.5
               2      2013    37.3
                      2014    36.1
Sue      HR    1      2013    47.0
                      2014    47.0
               2      2013    47.0
                      2014    47.0
         Temp  1      2013    36.4
                      2014    38.0
               2      2013    38.6
                      2014    39.5
dtype: float64

In [ ]:
#Columns are the primary in a data frame
health_data['Guido','HR']

year  visit
2013  1        47.0
      2        47.0
2014  1        47.0
      2        47.0
Name: (Guido, HR), dtype: float64

In [ ]:
data_mean = health_data.mean(level = "year")
print(data_mean)

subject   Bob        Guido          Sue
type       HR   Temp    HR   Temp    HR   Temp
year
2013     47.0  36.10  47.0  37.65  47.0  37.50
2014     47.0  37.05  47.0  37.30  47.0  38.75

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  """Entry point for launching an IPython kernel.

In [ ]:
data_mean = data_mean.mean(level = "year")
print(data_mean)

type    HR       Temp
year
2013  47.0  37.083333
2014  47.0  37.700000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  """Entry point for launching an IPython kernel.

In [ ]:
data_mean = health_data.mean(level = ["year","visit"])
print(data_mean)

subject      Bob       Guido         Sue
type          HR  Temp    HR  Temp    HR  Temp
year visit
2013 1      47.0  36.7  47.0  38.0  47.0  36.4
     2      47.0  35.5  47.0  37.3  47.0  38.6
2014 1      47.0  35.7  47.0  38.5  47.0  38.0
     2      47.0  38.4  47.0  36.1  47.0  39.5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  """Entry point for launching an IPython kernel.

In [ ]:
data_mean = health_data.mean(level = "year").mean(axis = 1, level = "type")
print(data_mean)

type    HR       Temp
year
2013  47.0  37.083333
2014  47.0  37.700000

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  """Entry point for launching an IPython kernel.

In [ ]:
print(health_data)

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, (2013, 1) to (2014, 2)
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   (Bob, HR)      4 non-null      float64
 1   (Bob, Temp)    4 non-null      float64
 2   (Guido, HR)    4 non-null      float64
 3   (Guido, Temp)  4 non-null      float64
 4   (Sue, HR)      4 non-null      float64
 5   (Sue, Temp)    4 non-null      float64
dtypes: float64(6)
memory usage: 555.0 bytes
None

In [ ]:
data_mean = health_data.mean(axis = 1, level = "subject")
print(data_mean)

subject       Bob  Guido    Sue
year visit
2013 1      41.85  42.50  41.70
     2      41.25  42.15  42.80
2014 1      41.35  42.75  42.50
     2      42.70  41.55  43.25

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Using the level keyword in DataFrame and Series aggregations is deprecated and will be removed in a future version. Use groupby instead. df.median(level=1) should use df.groupby(level=1).median().
  """Entry point for launching an IPython kernel.

## read_csv with actual csv file

In [7]:
#Mount my google drive. 
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [16]:
cubs  = pd.read_csv("/content/drive/MyDrive/DSCI401/cubs_all_time.csv")
print(type(cubs))
print(type(cubs.Tm))
cubs.head()

,Year,Tm,Lg,G,W,L,Ties,W-L%,pythW-L%,Finish,...,Playoffs,R,RA,Attendance,BatAge,PAge,#Bat,#P,Top Player,Managers
0,2022,Chicago Cubs,NL Central,125,54,71,0,0.432,0.436,3rd of 5,...,NaN,518,596,2163550.0,28.1,29.8,57,37,N.Hoerner (4.2),D.Ross (54-71)
1,2021,Chicago Cubs,NL Central,162,71,91,0,0.438,0.421,4th of 5,...,NaN,705,839,1978934.0,29.1,29.4,69,40,W.Contreras (4.1),D.Ross (71-91)
2,2020,Chicago Cubs,NL Central,60,34,26,0,0.567,0.545,1st of 5,...,Lost NLWC (2-0),265,240,NaN,27.9,30.3,47,26,Y.Darvish (2.8),D.Ross (34-26)
3,2019,Chicago Cubs,NL Central,162,84,78,0,0.519,0.558,3rd of 5,...,NaN,814,717,3094865.0,27.7,31.1,52,33,J.Baez (6.6),J.Maddon (84-78)
4,2018,Chicago Cubs,NL Central,163,95,68,0,0.583,0.575,2nd of 5,...,Lost NLWC (1-0),761,645,3181089.0,27.2,30.2,50,35,J.Baez (6.4),J.Maddon (95-68)

In [22]:
#get individual variables
cubs.Tm

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [27]:
#This also works
cubs["Tm"]

0                 Chicago Cubs
1                 Chicago Cubs
2                 Chicago Cubs
3                 Chicago Cubs
4                 Chicago Cubs
                ...
142    Chicago White Stockings
143    Chicago White Stockings
144    Chicago White Stockings
145    Chicago White Stockings
146    Chicago White Stockings
Name: Tm, Length: 147, dtype: object

In [28]:
#select multipel variables 
cubs[["Year","Tm"]]

     Year                       Tm
0    2022             Chicago Cubs
1    2021             Chicago Cubs
2    2020             Chicago Cubs
3    2019             Chicago Cubs
4    2018             Chicago Cubs
..    ...                      ...
142  1880  Chicago White Stockings
143  1879  Chicago White Stockings
144  1878  Chicago White Stockings
145  1877  Chicago White Stockings
146  1876  Chicago White Stockings

[147 rows x 2 columns]

In [29]:
#filter on rows
cubs[cubs["Year"] >= 2000]

,Year,Tm,Lg,G,W,L,Ties,W-L%,pythW-L%,Finish,...,Playoffs,R,RA,Attendance,BatAge,PAge,#Bat,#P,Top Player,Managers
0,2022,Chicago Cubs,NL Central,125,54,71,0,0.432,0.436,3rd of 5,...,NaN,518,596,2163550.0,28.1,29.8,57,37,N.Hoerner (4.2),D.Ross (54-71)
1,2021,Chicago Cubs,NL Central,162,71,91,0,0.438,0.421,4th of 5,...,NaN,705,839,1978934.0,29.1,29.4,69,40,W.Contreras (4.1),D.Ross (71-91)
2,2020,Chicago Cubs,NL Central,60,34,26,0,0.567,0.545,1st of 5,...,Lost NLWC (2-0),265,240,NaN,27.9,30.3,47,26,Y.Darvish (2.8),D.Ross (34-26)
3,2019,Chicago Cubs,NL Central,162,84,78,0,0.519,0.558,3rd of 5,...,NaN,814,717,3094865.0,27.7,31.1,52,33,J.Baez (6.6),J.Maddon (84-78)
4,2018,Chicago Cubs,NL Central,163,95,68,0,0.583,0.575,2nd of 5,...,Lost NLWC (1-0),761,645,3181089.0,27.2,30.2,50,35,J.Baez (6.4),J.Maddon (95-68)
5,2017,Chicago Cubs,NL Central,162,92,70,0,0.568,0.576,1st of 5,...,Lost NLCS (4-1),822,695,3199562.0,27.1,30.8,47,28,K.Bryant (5.7),J.Maddon (92-70)
6,2016,Chicago Cubs,NL Central,162,103,58,1,0.640,0.665,1st of 5,...,Won WS (4-3),808,556,3232420.0,27.4,29.9,45,26,K.Bryant (7.3),J.Maddon (103-58)
7,2015,Chicago Cubs,NL Central,162,97,65,0,0.599,0.557,3rd of 5,...,Lost NLCS (4-0),689,608,2919122.0,26.9,29.3,50,29,J.Arrieta (8.6),J.Maddon (97-65)
8,2014,Chicago Cubs,NL Central,162,73,89,0,0.451,0.436,5th of 5,...,NaN,614,707,2652113.0,26.8,28.0,48,27,J.Arrieta (5.6),R.Renteria (73-89)
9,2013,Chicago Cubs,NL Central,162,66,96,0,0.407,0.439,5th of 5,...,NaN,602,689,2642682.0,27.9,28.7,56,31,T.Wood (5.1),D.Sveum (66-96)
10,2012,Chicago Cubs,NL Central,162,61,101,0,0.377,0.403,5th of 6,...,NaN,613,759,2882756.0,27.8,27.9,53,30,D.Barney (4.6),D.Sveum (61-101)
11,2011,Chicago Cubs,NL Central,162,71,91,0,0.438,0.434,5th of 6,...,NaN,654,756,3017966.0,29.3,29.4,42,22,S.Castro (3.2),M.Quade (71-91)
12,2010,Chicago Cubs,NL Central,162,75,87,0,0.463,0.448,5th of 6,...,NaN,685,767,3062973.0,29.4,28.2,44,23,M.Byrd (3.7),L.Piniella (51-74) and M.Quade (24-13)
13,2009,Chicago Cubs,NL Central,161,83,78,0,0.516,0.523,2nd of 6,...,NaN,707,672,3168859.0,29.9,28.4,45,24,D.Lee (5.4),L.Piniella (83-78)
14,2008,Chicago Cubs,NL Central,161,97,64,0,0.602,0.609,1st of 6,...,Lost NLDS (3-0),855,671,3300200.0,30.1,28.9,42,23,R.Dempster (6.8),L.Piniella (97-64)
15,2007,Chicago Cubs,NL Central,162,85,77,0,0.525,0.539,1st of 6,...,Lost NLDS (3-0),752,690,3252462.0,29.3,28.4,47,22,A.Ramirez (5.3),L.Piniella (85-77)
16,2006,Chicago Cubs,NL Central,162,66,96,0,0.407,0.431,6th of 6,...,NaN,716,834,3123215.0,28.6,28.0,46,23,C.Zambrano (5.7),D.Baker (66-96)
17,2005,Chicago Cubs,NL Central,162,79,83,0,0.488,0.493,4th of 6,...,NaN,703,714,3099992.0,29.7,28.2,46,22,D.Lee (7.7),D.Baker (79-83)
18,2004,Chicago Cubs,NL Central,162,89,73,0,0.549,0.578,3rd of 6,...,NaN,789,665,3170154.0,30.1,29.1,43,19,C.Zambrano (7.2),D.Baker (89-73)
19,2003,Chicago Cubs,NL Central,162,88,74,0,0.543,0.527,1st of 6,...,Lost NLCS (4-3),724,683,2962630.0,31.3,28.2,42,17,M.Prior (7.9),D.Baker (88-74)
20,2002,Chicago Cubs,NL Central,162,67,95,0,0.414,0.467,5th of 6,...,NaN,706,759,2693096.0,30.2,27.6,44,22,S.Sosa (5.8),D.Baylor (34-49) R.Lachemann (0-1) and B.Kimm ...
21,2001,Chicago Cubs,NL Central,162,88,74,0,0.543,0.547,3rd of 6,...,NaN,777,701,2779465.0,30.7,29.8,43,20,S.Sosa (10.3),D.Baylor (88-74)
22,2000,Chicago Cubs,NL Central,162,65,97,0,0.401,0.424,6th of 6,...,NaN,764,904,2789511.0,30.8,28.4,51,24,S.Sosa (5.7),D.Baylor (65-97)